.skills {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--card-bg-color);
}

.skills h2 {
    font-size: 2.5rem;
    color: var(--accent-color);
    margin-bottom: 2rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Auto-fit columns to screen size */
    gap: 2rem;
}

.skills-card {
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #fff;
    border: 2px solid transparent;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.skills-card:hover {
    border-color: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
}

.skills-list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    transition: transform 0.3s, font-weight 0.3s;
}

.icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.skill-name {
    font-size: 1.2rem;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .skills {
        padding: 3rem 1rem;
    }

    .skills h2 {
        font-size: 2rem;
    }

    .skills-grid {
        gap: 1.5rem;
    }

    .skills-card {
        padding: 1.5rem;
    }

    .skill-item {
        margin-bottom: 0.75rem;
    }

    .icon {
        font-size: 1.2rem;
    }

    .skill-name {
        font-size: 1rem;
    }
}

/* Media queries for extra small screens */
@media (max-width: 480px) {
    .skills {
        padding: 2rem 1rem;
    }

    .skills h2 {
        font-size: 1.8rem;
    }

    .skills-card {
        padding: 1rem;
    }

    .skill-item {
        margin-bottom: 0.5rem;
    }

    .icon {
        font-size: 1rem;
    }

    .skill-name {
        font-size: 0.9rem;
    }
}
